<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>

<th:block th:fragment="nav">

  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Cfr Board</h1>
  </div>

<!--/*
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/"
       th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul th:if="${principal} == anonymousUser" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/auth/login" th:href="@{/auth/login}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register" th:href="@{/auth/register}">회원가입</a>
        </li>
      </ul>
      <ul th:if="${principal} != anonymousUser" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{#}" th:text="${principal.member.username}">회원</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/cfr}" th:text="CFR">CFR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/cfr/list}" th:text="List">CFR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" th:href="@{/logout}">로그아웃</a>
        </li>
      </ul>
    </div>
  </nav>
*/-->


  <div class="cus_navbar">
    <a href="/" th:href="@{/}">Home</a>

    <th:block th:if="${principal} == anonymousUser">
      <a href="/auth/login" th:href="@{/auth/login}">로그인</a>
      <a href="/auth/register" th:href="@{/auth/register}">회원가입</a>
    </th:block>

    <th:block th:if="${principal} != anonymousUser">
      <a href="/cfr" th:href="@{/cfr}">CFR</a>
      <a href="#" th:href="@{#}">글쓰기</a>

      <div class="dropdown">
        <button class="dropbtn" th:text="${principal.member.username}">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/auth/confirm" th:href="@{/auth/confirm}">회원정보수정</a>
          <a href="/logout" th:href="@{/logout}">로그아웃</a>
        </div>
      </div>
    </th:block>

  </div>

</th:block>

</body>
</html>