<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>CFR</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />

<div style="height:1000px;margin:15px;">
    <div class="container">
        <h1 style="text-align: center;margin-bottom: 10px;">CLOVA Face Recognition</h1>
        <div class="notice-red">* 유저당 1일 5회 제한 (현재 [[${requestCount}]]/5) *</div>
        <th:block th:if="${requestCount < 5}">
            <form id="cfr_form" class="cfr_form" action="#" th:action method="post" enctype="multipart/form-data">
                <div class="image_upload">
                    <label class="input_label" onclick="inputFile()">사진 업로드</label>
                    <input type="file" name="image" class="input_image" id="imageFile" accept="image/*" onchange="handleImageUpload(event)" />
                </div>
                <div class="summit_box">
                    <button id="upload_btn" type="button">전송</button>
                </div>
            </form>
            <div class="preview_box">
                <progress class="resize_progress" max="100" value="0"></progress>
                <img class="preview_image" id="preview" />
            </div>
        </th:block>
        <div th:unless="${requestCount < 5}" class="notice-red">일일 요청 횟수 초과</div>

    </div>
</div>

<th:block th:replace="~{layout/footer :: footer}" />


<script type="text/javascript" th:src="@{/js/cfr.js}"></script>
<script type="text/javascript" th:src="@{/js/browser-image-compression.js}"></script>

</body>
</html>