<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>CFR</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />

<div style="height:1000px;margin:15px;">
    <div class="container">
        <h1 style="text-align: center;margin-bottom: 50px;">CLOVA Face Recognition List</h1>
        <div class="d-flex justify-content-center">
            <div class="container-fluid">

                <div class="list_wrap">
                    <div class="list-group cus-list">
                        <div class="list-group-item align-items-center list-head">
                            <div class="d-flex justify-content-between">
                                <div class="col-value">value</div>
                                <div class="col-confidence">confidence</div>
                                <div class="col-createDate">createDate</div>
                                <div class="col-write"></div>
                            </div>
                        </div>
                        <div class="list-body" th:each="cfrData : ${cfrDataList.content}">
                            <div class="list-group-item align-items-center">
                                <div class="d-flex justify-content-between">
                                    <div class="col-value" th:text="${cfrData.value}"></div>
                                    <div class="col-confidence" th:text="${#numbers.formatPercent(cfrData.confidence,0,2)}"></div>
                                    <div class="col-createDate" th:text="${#temporals.format(cfrData.createDate, 'yyyy.MM.dd HH:mm:ss')}"></div>
                                    <div class="col-write">
                                        <a th:href="@{#}">글쓰기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination-wrapper" style="margin-top:20px;">
                    <ul class="pagination justify-content-center">
                        <th:block th:each="page : ${#numbers.sequence(1, cfrDataList.totalPages)}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="|/cfrs?page=${page}|"
                                   th:text="${page}">page</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/cfr.js}"></script>

</body>
</html>