<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>게시판</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />

<div style="height:1000px;margin:15px;">

    <section class="content">
        <div class="container-fluid">

            <div class="container-fluid" th:if="${boardView!=null}">
                <button class="btn btn-secondary" th:onclick="location.href='./'">목록</button>
                <th:block th:if="${principal} != anonymousUser and ${boardView.memberDto.id} == ${principal?.member.id}">
                    <a href="/boards/${boardView.id}/update-form"
                       th:href="|/boards/${boardView.id}/update-form|"
                       class="btn btn-warning">수정</a>
                    <button id="btn-delete" class="btn btn-danger">삭제</button>
                </th:block>
                <br/><br/>
                <div>
                    <h3 th:text="${boardView.title}">title</h3>
                </div>
                <br/>
                <div>
                    작성자:<span><i th:text="${boardView.memberDto.username}">username</i>&nbsp;&nbsp;&nbsp;</span>
                    작성 일자:<span><i th:text="${#temporals.format(boardView.createDate, 'yyyy.MM.dd HH:mm:ss')}">createDate</i></span>
                    <div class="etc-info">
                        <div class="form-group">
                            <input id="boardId" type="hidden" th:value="${boardView.id}" />
                        </div>

                        <div class="form-group">
                            <input id="boardTable" type="hidden" th:value="${boardTable}" />
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <div th:utext="${boardView.content}">content</div>
                </div>

                <div style="height:50px;margin-bottom:20px;">
                    <span class="view-good">
                        <button th:if="${principal} != anonymousUser" class="badge good-button" th:onclick="goodBtn([[${boardView.id}]], [[${principal?.member.id}]])">
                            <div id="goodCntOuter">
                                <div class="good-cnt" id="goodCnt" th:text="${boardView.likesCount}">0</div>
                            </div>
                            <img class="good-img" src="https://cdn-icons-png.flaticon.com/512/179/179655.png">
                        </button>
                        <button th:unless="${principal} != anonymousUser" class="badge good-button" th:onclick="authAlam()">
                            <div class="good-cnt" id="goodCnt" th:text="${boardView.likesCount}">0</div>
                            <img class="good-img" src="https://cdn-icons-png.flaticon.com/512/179/179655.png">
                        </button>
                    </span>
                </div>

                <hr>

                <div th:if="${principal} != anonymousUser" class="card">
                    <div class="card-body"><textarea id="comment" class="form-control" rows="1"></textarea></div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" id="btn-replySave111" th:onclick="writeReply([[${boardView.id}]], 0, 0)">
                            저장
                        </button>
                    </div>
                </div>
                <div th:unless="${principal} != anonymousUser" class="card">
                    <div class="card-footer">
                        댓글을 작성하시려면 로그인이 필요합니다.
                    </div>
                </div>
<!--/*
                <div class="card" style="margin-top:20px;">
                    <div class="card-header">댓글</div>
                    <ul id="comment--box" class="list-group">
                        <div th:each="reply : ${replyList}">

                            <li id="comment--${reply.id}" class="list-group-item" depth="${reply.depth}" style="margin-left:10px">
                                <div class="font-italic" style="font-size:3px;font-weight:bold;">
                                    <span>작성자 : [[${reply.memberDto.username}]]</span> &nbsp;
                                    <span th:text="${reply.createDate}"></span>
                                </div>
                                <div style="margin:5px 0px;" th:text="${reply.content}"></div>


                                <div class="d-flex">
                                    <input type="hidden" id="replyId" value="${reply.id}">
                                    <div>
                                        <c:if test="${reply.users.id eq principal.users.id}">
                                            <button onclick="replyDelete(${board.id}, ${reply.id})" class="badge reply-button">삭제</button>
                                            <button onclick="replyModifyWindow(${reply.id})" class="badge reply-button">수정</button>
                                        </c:if>
                                        <c:if test="${reply.depth < 4}">
                                            <button onclick="reReplyWindow(${reply.id})" class="badge reply-button">댓글</button>
                                        </c:if>
                                    </div>
                                </div>
                            </li>

                            <div style="display:none" id="replyModifyWindow${reply.id}" class="sh">
                                <div class="card-body"><textarea id="commentModify${reply.id}" class="form-control" rows="1">${reply.content}</textarea></div>
                                <div style="margin:0px 0px 10px 20px;">
                                    <button onclick="replyModify(${reply.id})" class="badge">수정</button>
                                </div>
                            </div>
                            <div style="display:none;margin-left:${reply.depth*30}px;" id="reReplyWindow${reply.id}" class="sh">
                                <div class="card-body"><textarea id="comment${reply.id}" class="form-control" rows="1"></textarea></div>
                                <div style="margin:0px 0px 10px 20px;">
                                    <button onclick="replySummit(${board.id}, ${reply.id}, ${reply.depth+1})" class="badge">댓글</button>
                                </div>
                            </div>
                        </div>
                        */-->

            </div>

            <div class="list_wrap">
                <div class="list-group cus-list">
                    <div class="list-group-item align-items-center list-head">
                        <div class="row-top">
                            <div class="col-title">제목</div>
                        </div>
                        <div class="d-flex justify-content-between row-bottom">
                            <div class="col-author">작성자</div>
                            <div class="col-time">작성일</div>
                            <div class="col-view">조회수</div>
                            <div class="col-good">추천</div>
                        </div>
                    </div>
                    <div class="cusHov list-body" th:each="board : ${boardList.content}">
                        <a class="list-bodyInner"
                           th:href="|/boards/${boardTable}/${board.id}?${status}|">
                            <div class="row-top">
                                <div class="col-title" th:text="${board.title}"></div>
                            </div>
                            <div class="row-bottom">
                                <div class="col-author" th:text="${board.memberDto.username}"></div>
                                <div class="row-bottom-rightInner">
                                    <div class="col-time" th:text="${#temporals.format(board.createDate, 'yyyy.MM.dd HH:mm:ss')}"></div>
                                    <div class="col-view" th:text="${board.viewCount}"></div>
                                    <div class="col-good" th:text="${board.likesCount}">0</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <form th:action="@{/boards/{boardTable}(boardTable=${boardTable})}" method="get" class="form-inline search-form justify-content-end">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-control form-control-sm" name="target">
                            <option value="all" th:selected="${target} == 'all'">전체</option>
                            <option value="title-content" th:selected="${target} == 'title_content'">제목/내용</option>
                            <option value="title" th:selected="${target} == 'title'">제목</option>
                            <option value="content" th:selected="${target} == 'content'">내용</option>
                            <option value="username" th:selected="${target} == 'username'">글쓴이</option>
                        </select>
                    </div>
                    <input type="text" class="form-control form-control-sm" name="keyword" th:value="${keyword}" aria-labelledby="searchFormLabel">
                    <div class="input-group-append">
                        <button class="btn btn-cus btn-sm" type="submit">검색</button>
                    </div>
                </div>
            </form>

            <div class="pagination-wrapper">
                <ul class="pagination justify-content-center">
                    <th:block th:if="${boardList.totalPages == 0}">
                        <li class="page-item active">
                            <a th:if="${nextPage} == null" class="page-link" th:href="|?page=${page}|" th:text="1">page</a>
                            <a th:unless="${nextPage} == null" class="page-link" th:href="|?${nextPage}&page=${page}|" th:text="1">page</a>
                        </li>
                    </th:block>
                    <th:block th:unless="${boardList.totalPages == 0}" th:each="page : ${#numbers.sequence(1, boardList.totalPages)}">
                        <li th:if="${page-1 == boardList.number}" class="page-item active">
                            <a th:if="${nextPage} == null" class="page-link" th:href="|?page=${page}|" th:text="${page}">page</a>
                            <a th:unless="${nextPage} == null" class="page-link" th:href="|?${nextPage}&page=${page}|" th:text="${page}">page</a>
                        </li>
                        <li th:unless="${page-1 == boardList.number}" class="page-item">
                            <a th:if="${nextPage} == null" class="page-link" th:href="|?page=${page}|" th:text="${page}">page</a>
                            <a th:unless="${nextPage} == null" class="page-link" th:href="|?${nextPage}&page=${page}|" th:text="${page}">page</a>
                        </li>
                    </th:block>
                </ul>
            </div>

        </div>


<!--/*        <div class="searchBox">
            <select id="searchKeyword">
                <option value="title">제목</option>
                <option value="writer">작성자</option>
            </select>
            <input class="searchInput" id="searchInput" type="text" />
            <button class="searchButton" type="button" onclick="boardSearch()">
                <img class="image-thumb" src="https://media.istockphoto.com/id/1167683205/ko/%EB%B2%A1%ED%84%B0/%EA%B2%80%EC%83%89-%EC%95%84%EC%9D%B4%EC%BD%98.jpg?s=612x612&w=0&k=20&c=zFYCQOhkQmFkjFOz8B0SnZpwnDv_M_n1D2jgrfzkLfk=">
            </button>

        </div>*/-->

    </section>

</div>


<script type="text/javascript" th:src="@{/js/board.js}"></script>
<script type="text/javascript" th:src="@{/js/reply.js}"></script>

</body>
</html>