<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>게시판</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />

<div class="board-wrap">

    <div class="info">
        <input th:if="${principal} != anonymousUser" type="hidden" th:value="${principal.member.username}" id="p_username" />
    </div>

    <section class="content">

        <div class="container-wrapper">
            <div class="container-fluid">

                <div class="board-detail-wrap" th:if="${boardView!=null}">
                    <button class="btn btn-secondary" th:onclick="location.href='./'">목록</button>
                    <th:block th:if="${principal} != anonymousUser">
                        <th:block th:if="${boardView.memberDto.id} == ${principal?.member.id}">
                            <a href="/boards/${boardView.id}/update-form"
                               th:href="|/boards/${boardView.id}/update-form|"
                               class="btn btn-warning">수정</a>
                            <button th:if="${boardView.commentCount eq 0}" id="btn-delete" class="btn btn-danger">삭제</button>
                        </th:block>
                        <button th:if="${#strings.equals(principal.member.role, 'ADMIN') or #strings.equals(principal.member.role, 'MANAGER')}"
                                id="btn-board-blind" class="btn btn-danger">블라</button>
                    </th:block>
                    <br/><br/>
                    <div>
                        <h3 class="title-detail" th:text="${boardView.title}">title</h3>
                    </div>
                    <br/>
                    <div>
                        작성자&nbsp;:&nbsp;<span><i th:text="${boardView.memberDto.username}">username</i>&nbsp;&nbsp;&nbsp;</span>
                        작성 일자&nbsp;:&nbsp;<span><i th:text="${#temporals.format(boardView.createDate, 'yyyy.MM.dd HH:mm:ss')}">createDate</i></span>
                        <div class="etc-info">
                            <div class="form-group">
                                <input id="boardId" type="hidden" th:value="${boardView.id}" />
                            </div>

                            <div class="form-group">
                                <input id="boardTable" type="hidden" th:value="${boardTable}" />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="content-wrap">
                        <div class="content-detail" th:utext="${boardView.content}">content</div>
                        <div th:if="${boardView.cfrDataDto != null}" class="board-cfr-wrap">
                            <div class="cfr-data-wrap">
                                <div class="value-center">
                                    <p>검색</p>
                                </div>
                                <div>
                                    <a th:href="@{https://search.naver.com/search.naver(query = ${boardView.cfrDataDto.value})}" target="_blank" class="logo-a">
                                        <img class="logo-image" src="/image/naver_logo.png" />
                                    </a>
                                    <a th:href="@{https://www.google.com/search(q = ${boardView.cfrDataDto.value})}" target="_blank" class="logo-a">
                                        <img class="logo-image" src="/image/google_logo.png" />
                                    </a>
                                </div>
                            </div>
                            <div class="cfr-data-wrap middle">
                                <div class="value-center">
                                    <p>이름</p>
                                </div>
                                <div class="value-center">
                                    <p th:text="${boardView.cfrDataDto.value}"></p>
                                </div>
                            </div>
                            <div class="cfr-data-wrap">
                                <div class="value-center">
                                    <p>일치율</p>
                                </div>
                                <div class="value-center">
                                    <p th:text="${#numbers.formatPercent(boardView.cfrDataDto.confidence,0,2)}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="good-wrapper">
                        <span class="view-good">
                            <button th:if="${principal} != anonymousUser" class="badge good-button" th:onclick="goodBtn([[${boardView.id}]], [[${principal?.member.id}]])">
                                <div id="goodCntOuter">
                                    <div class="good-cnt" id="goodCnt" th:text="${boardView.likesCount}">0</div>
                                </div>
                                <img class="good-img" src="https://cdn-icons-png.flaticon.com/512/179/179655.png">
                            </button>
                            <button th:unless="${principal} != anonymousUser" class="badge good-button" th:onclick="authAlam()">
                                <div class="good-cnt" id="goodCnt" th:text="${boardView.likesCount}">0</div>
                                <img class="good-img" src="https://cdn-icons-png.flaticon.com/512/179/179655.png">
                            </button>
                        </span>
                    </div>


                    <div class="reply-wrapper">

                        <div class="reply-title">
                            댓글
                        </div>

                        <div class="comment-outer" th:each="reply : ${replyList}">
                            <div class="comment-inner" th:id="|c_${reply.replyId}|" th:style="|margin-left:${reply.depth*20}px;|">
                                <div class="comment">
                                    <div class="info-row">
                                    <span class="user-info">
                                        <div th:text="${reply.username}">닉네임</div>
                                    </span>
                                        <div class="other-wrapper">
                                            <div th:text="${#temporals.format(reply.createDate, 'yyyy.MM.dd HH:mm:ss')}"></div>
                                            <div class="wp" th:unless="${principal} == anonymousUser or ${reply.isBlinded}">
                                                <span class="sep"></span>
                                                <button class="btn-oreply">신고</button>
                                                <span class="sep"></span>
                                                <button class="reply-link btn-oreply" th:onclick="replyOpen([[${boardView.id}]], [[${reply.replyId}]], [[${reply.depth+1}]])">답글</button>
                                                <th:block th:if="${reply.username == principal.member.username && reply.childCommentCount == 0}">
                                                    <span class="sep"></span>
                                                    <button class="reply-update btn-oreply" th:onclick="replyUpdateOpen([[${reply.replyId}]])">수정</button>
                                                    <span class="sep"></span>
                                                    <button class="reply-delete btn-oreply" th:onclick="replyDelete([[${reply.replyId}]])">삭제</button>
                                                </th:block>
                                                <th:block th:if="${#strings.equals(principal.member.role, 'ADMIN') or #strings.equals(principal.member.role, 'MANAGER')}">
                                                    <span class="sep"></span>
                                                    <button th:if="${#strings.equals(principal.member.role, 'ADMIN') or #strings.equals(principal.member.role, 'MANAGER')}"
                                                            th:onclick="replyBlind([[${reply.replyId}]])" class="reply-delete btn-oreply">
                                                        블라
                                                    </button>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${reply.isBlinded}" class="message" th:id="|message_${reply.replyId}|">블라인드 처리가 되었습니다.</div>
                                    <div th:unless="${reply.isBlinded}" class="message" th:id="|message_${reply.replyId}|" th:text="${reply.comment}">내용</div>
                                </div>
                            </div>
                        </div>


                        <div class="reply-outer">
                            <div th:if="${principal} != anonymousUser" class="reply-inner">
                                <div class="reply-info">
                                    <div class="member-info" th:text="${principal.member.username}"></div>
                                </div>
                                <div class="reply-textarea-wrapper">
                                    <textarea class="reply-textarea" id="comment" maxlength="800" required="required" style="height: 99.5px;"></textarea>
                                    <div class="reply-button-wrapper">
                                        <button class="reply-button" type="button" th:onclick="writeReply([[${boardView.id}]], 0, 0)">작성</button>
                                    </div>
                                </div>
                            </div>

                            <div th:unless="${principal} != anonymousUser" class="reply-inner-none">
                                <div class="reply-none">
                                    <a th:href="@{/auth/login}">댓글을 작성하시려면 로그인이 필요합니다.</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="list_wrap">
                    <div class="list-group cus-list">
                        <div class="list-group-item align-items-center list-head">
                            <div class="row-top">
                                <div class="col-title">제목</div>
                            </div>
                            <div class="d-flex justify-content-between row-bottom">
                                <div class="col-author">작성자</div>
                                <div class="col-time">작성일</div>
                                <div class="col-view">조회수</div>
                                <div class="col-good">추천</div>
                            </div>
                        </div>
                        <th:block th:each="board : ${boardList.content}">
                            <div class="board-blind list-body" th:if="${board.isBlinded}">
                                <a class="list-bodyInner">
                                    <div class="col-title title-blind">블라인드 처리가 되었습니다.</div>
                                </a>
                            </div>

                            <div class="cusHov list-body" th:unless="${board.isBlinded}">
                                <a class="list-bodyInner"
                                   th:href="|/boards/${boardTable}/${board.id}?${status}|">
                                    <div class="row-top">
                                        <div class="col-title detail" th:text="${board.title}"></div>
                                        <span class="comment-img" th:text="${board.commentCount}"></span>
                                    </div>
                                    <div class="row-bottom">
                                        <div class="col-author" th:text="${board.memberDto.username}"></div>
                                        <div class="row-bottom-rightInner">
                                            <div class="col-time" th:text="${#temporals.format(board.createDate, 'yyyy.MM.dd HH:mm:ss')}"></div>
                                            <div class="col-view" th:text="${board.viewCount}"></div>
                                            <div class="col-good" th:text="${board.likesCount}">0</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </th:block>
                    </div>
                </div>

                <form th:action="@{/boards/{boardTable}(boardTable=${boardTable})}" method="get" class="form-inline search-form justify-content-end board-search-form">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="form-control form-control-sm" name="target">
                                <option value="all" th:selected="${target} == 'all'">전체</option>
                                <option value="title-content" th:selected="${target} == 'title_content'">제목/내용</option>
                                <option value="title" th:selected="${target} == 'title'">제목</option>
                                <option value="content" th:selected="${target} == 'content'">내용</option>
                                <option value="username" th:selected="${target} == 'username'">글쓴이</option>
                            </select>
                        </div>
                        <input type="text" class="form-control form-control-sm" name="keyword" th:value="${keyword}" aria-labelledby="searchFormLabel">
                        <div class="input-group-append">
                            <button class="btn btn-cus btn-sm" type="submit">검색</button>
                        </div>
                    </div>
                </form>

                <div class="pagination-wrapper">
                    <ul class="pagination justify-content-center">
                        <th:block th:if="${boardList.totalPages == 0}">
                            <li class="page-item active">
                                <a th:if="${nextPage} == null" class="page-link" th:href="|?page=${page}|" th:text="1">page</a>
                                <a th:unless="${nextPage} == null" class="page-link" th:href="|?${nextPage}&page=${page}|" th:text="1">page</a>
                            </li>
                        </th:block>
                        <th:block th:unless="${boardList.totalPages == 0}">
                            <li class="page-item">
                                <a class="page-link first-page" th:href="@{?page=1}"></a>
                            </li>
                            <li th:if="${pageInfo.isPreviousPage}" class="page-item">
                                <a th:if="${nextPage} == null" class="page-link previous-page" th:href="|?page=${pageInfo.startPage}|"></a>
                                <a th:unless="${nextPage} == null" class="page-link previous-page" th:href="|?${nextPage}&page=${pageInfo.startPage}|"></a>
                            </li>
                            <li th:unless="${pageInfo.isPreviousPage}" class="page-item">
                                <a th:if="${nextPage} == null" class="page-link previous-page page-disable" th:href="|?page=${pageInfo.startPage}|"></a>
                                <a th:unless="${nextPage} == null" class="page-link previous-page page-disable" th:href="|?${nextPage}&page=${pageInfo.startPage}|"></a>
                            </li>
                            <th:block th:each="page : ${#numbers.sequence(pageInfo.startPage+1, pageInfo.endPage-1)}">
                                <li th:if="${page-1 == boardList.number}" class="page-item active">
                                    <a th:if="${nextPage} == null" class="page-link" th:href="|?page=${page}|" th:text="${page}">page</a>
                                    <a th:unless="${nextPage} == null" class="page-link" th:href="|?${nextPage}&page=${page}|" th:text="${page}">page</a>
                                </li>
                                <li th:unless="${page-1 == boardList.number}" class="page-item">
                                    <a th:if="${nextPage} == null" class="page-link" th:href="|?page=${page}|" th:text="${page}">page</a>
                                    <a th:unless="${nextPage} == null" class="page-link" th:href="|?${nextPage}&page=${page}|" th:text="${page}">page</a>
                                </li>
                            </th:block>
                            <li th:if="${pageInfo.isNextPage}" class="page-item">
                                <a th:if="${nextPage} == null" class="page-link next-page" th:href="|?page=${pageInfo.endPage}|"></a>
                                <a th:unless="${nextPage} == null" class="page-link next-page" th:href="|?${nextPage}&page=${pageInfo.endPage}|"></a>
                            </li>
                            <li th:unless="${pageInfo.isNextPage}" class="page-item">
                                <a th:if="${nextPage} == null" class="page-link next-page page-disable" th:href="|?page=${pageInfo.endPage}|"></a>
                                <a th:unless="${nextPage} == null" class="page-link next-page page-disable" th:href="|?${nextPage}&page=${pageInfo.endPage}|"></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link last-page" th:href="@{|?page=${boardList.totalPages}|}"></a>
                            </li>
                        </th:block>
                    </ul>
                </div>

            </div>
        </div>

        <aside class="aside-wrap">
            <div class="right-aside">
                <div class="list-rank-wrap">
                    <dl>
                        <dt>
                            <a class="rank-title" href="javascript:void(0)">오늘의 베스트</a>
                        </dt>
                        <dd>
                            <ul>
                                <li class="list-rank" th:each="viewRank, viewRankStat  : ${topTodayView}">
                                    <i th:if="${viewRankStat.count le 3}" class="top-rank" th:text="${viewRankStat.count}">Rank</i>
                                    <i th:unless="${viewRankStat.count le 3}" class="normal-rank" th:text="${viewRankStat.count}">Rank</i>
                                    <a th:href="@{|/boards/${viewRank.boardTable}/${viewRank.id}|}" th:text="${viewRank.title}">
                                        제목
                                    </a>
                                    <span class="comment-img" th:text="${viewRank.commentCount}">0</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="right-aside">
                <div class="list-rank-wrap">
                    <dl>
                        <dt>
                            <a class="rank-title" href="javascript:void(0)">CFR 랭킹</a>
                        </dt>

                        <dd>
                            <ul>
                                <li class="list-rank" th:each="cfrRank, cfrRankStat  : ${topCfr}">
                                    <i th:if="${cfrRankStat.count le 3}" class="top-rank" th:text="${cfrRankStat.count}">Rank</i>
                                    <i th:unless="${cfrRankStat.count le 3}" class="normal-rank" th:text="${cfrRankStat.count}">Rank</i>
                                    <div class="cfrRank-wrap">
                                        <div class="cfrRank-value" th:text="${cfrRank.value}"></div>
                                        <div>&nbsp;:&nbsp;</div>
                                        <div class="cfrRank-confidence" th:text="${#numbers.formatPercent(cfrRank.confidence,0,2)}"></div>
                                        <div class="sep-black"></div>
                                        <div class="cfrRank-username" th:text="${cfrRank.memberDto.username}"></div>
                                    </div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </aside>

    </section>

</div>

<th:block th:replace="~{layout/footer :: footer}" />


<script type="text/javascript" th:src="@{/js/board.js}"></script>
<script type="text/javascript" th:src="@{/js/reply.js}"></script>

</body>
</html>