<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>글쓰기 폼</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />

<div th:id="back-ground" style="margin:15px;">
    <div class="container">

        <div class="back-blur"></div>
        <div class="b-cfrlist-outer">
            <input id="list-size" type="hidden" th:value="${cfrList.size}" />
            <div class="b-cfrlist-inner">
                <div class="b-cfrlist-wrapper" th:each="cfrData : ${cfrList}">
                    <div class="b-cfrlist justify-content-between" th:onclick="|selectCfr(${cfrData.id})|">
                        <div th:id="|cfr-value${cfrData.id}|" th:text="${cfrData.value}" class="b-cfrlist-value"></div>
                        <div th:id="|cfr-confidence${cfrData.id}|" th:text="${#numbers.formatPercent(cfrData.confidence,0,2)}" class=b-cfrlist-confidence></div>
                        <div th:id="|cfr-createDate${cfrData.id}|" th:text="${#temporals.format(cfrData.createDate, 'yyyy.MM.dd HH:mm:ss')}" class=b-cfrlist-createDate></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <select class="select-table">
                    <option value="free" th:text="자유게시판"></option>
                    <option value="cfr" th:text="CFR게시판" th:selected="${cfrData}"></option>
                </select>

                <button th:if="${cfrData}" class="btn-cfr-list" type="button" onclick="openCfrList();" style="visibility:visible;">변경</button>
                <button th:unless="${cfrData}" class="btn-cfr-list" type="button" onclick="openCfrList();">변경</button>
            </div>


            <div th:class="cfr-result">
                <th:block th:if="${cfrData}">
                    <div id="cfrid" class="result" style="display:none;" th:text="${cfrData.id}"></div>
                    <div class="result-value" th:text="${cfrData.value}"></div>
                    <div class="result" th:text="${#numbers.formatPercent(cfrData.confidence,0,2)}"></div>
                    <div class="result" th:text="${#temporals.format(cfrData.createDate, 'yyyy.MM.dd HH:mm:ss')}"></div>
                </th:block>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="5자 이상 써주세요." id="title" name="title">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control summernote" rows="5" id="content"></textarea>
        </div>

        <button id="btn-save" class="btn btn-primary">글쓰기</button>

    </div>
</div>

<th:block th:replace="~{layout/footer :: footer}" />


<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script type="text/javascript" th:src="@{/js/board.js}"></script>
<script>
  $('.summernote').summernote({
    placeholder: 'content',
    tabsize: 2,
    height: 300
  });
</script>

</body>
</html>