.notice-red {
    text-align: center;
    margin-bottom: 20px;
    color: red;
    font-size: 20px;
}
.form-control {
    margin-bottom: 10px;
}
.small-btn {
    padding: 2px;
}
.small-btn:disabled {
    background-color: green;
    border-color: green;
}
.error-text {
    color: red;
}
.cfr_form {
    justify-content: center;
    display: flex;
}
.image_upload {
    justify-content: center;
    display: flex;
    border: dashed blue;
    height: 70px;
    width: 200px;
}
.input_image {
    display: none;
}
.input_label {
    margin: auto;
}
.summit_box {
    margin: 20px;
}
.cfr_list {
 text-align: center;
 border: 1px solid #aaaaaa;
 border-collapse: collapse;
 width: 600px;
}
.cfr_list_head {
    height: 50px;
}
.cfr_list_body {
    height: 40px;
}
th, td {
    border: 1px solid #aaaaaa;
}
.preview_box {
    margin: 40px;
    display: flex;
    justify-content: center;
}
.preview_image {
    height: 400px;
}
.resize_progress {
    display: none;
}
#upload_btn {
    visibility: hidden;
}

/*Dropdown Menu in Navbar CSS*/
.cus_navbar {
  overflow: hidden;
  background-color: #333;
}
.cus_navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  all: unset;
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.cus_navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
.dropdown-content {
  all: unset;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.col-value{
    width: 10%;
    text-align: center;
}
.col-confidence{
    width: 10%;
    text-align: center;
}
.col-createDate{
    width: 25%;
    text-align: center;
}
.col-write{
    width: 10%;
    text-align: center;
}

.list-head {
    background-color: #DCDCDC;
}

.board-title a {
    color: black;
    text-decoration-line: none;
}

.good-wrapper {
    height: 50px;
    margin: 40px 0px;
}
.title-detail {
    word-break: break-word;
}
.content-detail {
    word-break: break-word;
}

/*기존 리스트 페이지 css*/
.content {
    overflow: auto;
    background-color: white;
    padding-top: 5px;
}

.list_wrap {
    overflow: auto;
    margin: 10px 10px;
}

.main_wrap {
  overflow: auto;
  position: relative;
  width: 100%;
  margin: 29px auto 0 auto;
  margin-bottom:20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.pagination-wrapper {
    margin-top: 5px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: gray;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: gray;
    background-color: #dee2e6;
}


.page-item.active .page-link {
    color: grey;
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.searchBox {
    justify-content: center;
    overflow: auto;
    display: flex;
    width: auto;
    height: 45px;
    margin: 0 auto;
}

.searchInput {
    width: 400px;
}

.searchButton {
    width: 43px;
    height: 43px;
}

.image-thumb {
    width:100%;
    height:100%;
    object-fit:cover;
}

.cusHov:hover {
  background-color: #ddd;
}

.cus-list {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #bbb;
}

.list-head {
    display: flex;
    background-color: #ddd;
    padding: 15px 20px;
    border-bottom: 1px solid;
    border-color: #bbb;
}

.list-body {
    background-color: white;
    border-bottom: 1px solid;
    border-color: #bbb;
}

.list-bodyInner {
    display: flex;
    padding: 10px;
    width:100%;
}

.cusHov a {
    text-decoration: none;
    color: gray;
}

.cusHov a:link    { text-decoration:none;color:gray; }
.cusHov a:visited { text-decoration:none;color:gray; }
.cusHov a:hover   { text-decoration:none;color:gray; }
.cusHov a:active  { text-decoration:none;color:gray; }

.col-title {
    font-size: 16px;
    width: 80%;
    text-align: left;
    color: black;
    word-break: break-all;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-author {
    font-size: 14px;
    width: 20%;
    text-align: left;
    color: black;
}

.col-time {
    font-size: 14px;
    width: 50%;
    text-align: center;
    color: black;
}

.col-view {
    font-size: 14px;
    width: 25%;
    text-align: center;
    color: black;
}

.col-good {
    font-size: 14px;
    width: 25%;
    text-align: center;
    color: black;
}

.row-top {
    width: 45%;
}

.row-bottom {
    display: flex;
    width: 55%;
}

.row-bottom-rightInner {
    width: 80%;
    display: flex;
}

/*cfr 게시글 쓰기*/
.back-blur {
    all: unset;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
    display: none;
}
.b-cfrlist-outer {
    position: fixed;
    left: calc(50% - 300px);
    top: 40%;
    width: 600px;
    height: 200px;
    background-color: white;
    z-index: 20;
    border-radius: 5px;
    display: none;
}
.b-cfrlist-inner {
    width: 99%;
    height: 100%;
    margin: auto;
    overflow: auto;
}
.b-cfrlist-wrapper {

}
.b-cfrlist-wrapper:hover {
    background-color: #dee2e6;
}
.b-cfrlist {
    display: flex;
    margin: 5px auto;
    width: 95%;
}
.b-cfrlist-value {
    width: 20%
}
.b-cfrlist-confidence {
    width: 20%
}.b-cfrlist-createDate {
    width: 40%
}
.cfr-result {
    display: flex;
    visibility: hidden;
    height: 25px;
}
.btn-cfr-list {
    visibility: hidden;
}

/*좋아요*/
.view-good {
    text-align: center;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    display: inline-block;
}
.good-button {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.good-img {
    width: 20px;
}
.good-cnt {
    font-size: 15px;
    margin-bottom: 3px;
}

/**검색**/
.btn-cus {
    border-color: #dddddd;
    margin-bottom: 10px;
}
.btn-cus:hover {
    background-color: #dddddd;
    border-color: #cccccc;
    color: #212529;
    text-decoration: none;
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

/**댓글**/
.reply-info {
    display: block;
    border: solid 1px;
    border-bottom-style: none;
    height: 40px;
}
.member-info {
    float: left;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}
.reply-textarea-wrapper {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}
.reply-textarea {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    min-height: 4em;
    overflow: hidden;
    resize: none;
    height: 156.5px;
}
.reply-button-wrapper {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    padding-bottom: .5em;
    padding-right: .2em;
    display: flex;
    margin: 5px;
}
.reply-button {
    padding: .25em 1.5em;
    border: 1px solid;
    border-radius: 4px;
}
.reply-none {
    margin: 20px 0px;
    background-color: #cccccc;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
}
.reply-none a {
    color: black;
}


.reply-title {
    font-size: 30px;
    margin: 20px 0px;
    border-bottom: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
}
.comment-inner {
    margin-bottom: 10px;
}
.comment {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #cccccc;
    font-size: .95rem;
}
.info-row {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #cccccc;
    box-sizing: border-box;
    clear: both;
    padding: .2rem .5rem;
    border-bottom: 1px dashed;
    border-color: #cccccc;
    font-size: .85rem;
    overflow: hidden;
    display: flex;
}
.user-info {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    word-break: break-all;
    font-size: .85rem;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}
.other-wrapper {
    text-align: left;
    word-break: break-all;
    font-size: .85rem;
    box-sizing: border-box;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.sep {
    margin: 3px 5px;
    border-left : thin solid white;
}
.message {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    word-break: break-all;
    font-size: .95rem;
    box-sizing: border-box;
    padding: .5rem;
    position: relative;
    overflow: hidden;
}
.btn-oreply {
    all: initial;
}
.btn-close:hover {
    cursor: pointer;
}
.btn-close:after {
    content: "\00d7";
    font-size: 25px;
    float: right;
    margin-right: 10px;
}

/*페이지*/
.first-page:after {
    content: "\276C \276C";
}
.previous-page:after {
    content: "\276C";
}
.next-page:after {
    content: "\276D";
}
.last-page:after {
    content: "\276D \276D";
}
.page-disable {
    pointer-events: none;
}

/*메인 페이지*/
.current-board a {
    display: table-cell;
    color: black;
    padding-right: 10px;
    word-break: break-all;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.current-board a:hover {
    color: #aaa;
}
.current-board-list {
    margin-bottom: 0px;
}
.current-board-list ul {
    border-top: solid 1px #aaa;
    padding-left: 10px;
    margin-bottom: 0px;
}
.current-board span {
    display: table-cell;
    position: relative;
    font-size: 16px;
    color: black;
    padding-left: 18px;
    margin-right: 5px;
}
.current-board span:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(/image/comment-icon.svg) no-repeat;
    content: "";
}
.current-board {
    display: flex;
    vertical-align: baseline;
    word-break: keep-all;
}
.board-short {
    font-size: 30px;
    padding-left: 10px;
    color: black;
}
.board-short:hover {
    color: #4C4C4C;
    text-decoration: none;
}