.form-control {
    margin-bottom: 10px;
}
.small-btn {
    padding: 2px;
}
.small-btn:disabled {
    background-color: green;
    border-color: green;
}
.error-text {
    color: red;
}
.cfr_form {
    justify-content: center;
    display: flex;
}
.image_upload {
    justify-content: center;
    display: flex;
    border: dashed blue;
    height: 70px;
    width: 200px;
}
.image_file {
    display: none;
}