<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>메인 페이지</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />


<div class="content" style="min-height: 700px;">
    <div class="main_wrap">
        <article class="main-outer">
            <div class="area-wrap">
                <div class="main-board-area">
                    <dl class="current-board-list">
                        <dt>
                            <a class="board-short" href="/boards/free">자유게시판</a>
                        </dt>
                        <dd>
                            <ul>
                                <li class="current-board" th:each="freeBoard : ${currentFreeBoard}">
                                    <a class="main-href" th:href="@{|/boards/${freeBoard.boardTable}/${freeBoard.id}|}" th:utext="${freeBoard.title}"></a>
                                    <span class="comment-img" th:text="${freeBoard.commentCount}"></span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="area-wrap">
                <div class="main-board-area">
                    <dl class="current-board-list">
                        <dt>
                            <a class="board-short" href="/boards/cfr">CFR게시판</a>
                        </dt>
                        <dd>
                            <ul>
                                <li class="current-board" th:each="cfrBoard : ${currentCfrBoard}">
                                    <a class="main-href" th:href="@{|/boards/${cfrBoard.boardTable}/${cfrBoard.id}|}" th:utext="${cfrBoard.title}"></a>
                                    <span class="comment-img" th:text="${cfrBoard.commentCount}"></span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>

        </article>
    </div>

    <aside class="aside-wrap">
        <div class="right-aside">
            <div class="list-rank-wrap">
                <dl>
                    <dt>
                        <a class="rank-title" href="javascript:void(0)">오늘의 베스트</a>
                    </dt>
                    <dd>
                        <ul>
                            <li class="list-rank" th:each="viewRank, viewRankStat  : ${topTodayView}">
                                <i th:if="${viewRankStat.count le 3}" class="top-rank" th:text="${viewRankStat.count}">Rank</i>
                                <i th:unless="${viewRankStat.count le 3}" class="normal-rank" th:text="${viewRankStat.count}">Rank</i>
                                <a th:href="@{|/boards/${viewRank.boardTable}/${viewRank.id}|}" th:utext="${viewRank.title}">
                                    제목
                                </a>
                                <span class="comment-img" th:text="${viewRank.commentCount}">0</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="right-aside">
            <div class="list-rank-wrap">
                <dl>
                    <dt>
                        <a class="rank-title" href="javascript:void(0)">CFR 랭킹</a>
                    </dt>

                    <dd>
                        <ul>
                            <li class="list-rank" th:each="cfrRank, cfrRankStat  : ${topCfr}">
                                <i th:if="${cfrRankStat.count le 3}" class="top-rank" th:text="${cfrRankStat.count}">Rank</i>
                                <i th:unless="${cfrRankStat.count le 3}" class="normal-rank" th:text="${cfrRankStat.count}">Rank</i>
                                <div class="cfrRank-wrap">
                                    <div class="cfrRank-value" th:text="${cfrRank.value}"></div>
                                    <div>&nbsp;:&nbsp;</div>
                                    <div class="cfrRank-confidence" th:text="${#numbers.formatPercent(cfrRank.confidence,0,2)}"></div>
                                    <div class="sep-black"></div>
                                    <div class="cfrRank-username" th:text="${cfrRank.memberDto.username}"></div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </aside>


</div>

<th:block th:replace="~{layout/footer :: footer}" />

</body>
</html>