<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>메인 페이지</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}" />


<div class="main_wrap">
    <article style="height:700px;margin-left:50px;display:flex;">
        <div style="border: solid 1px black;width: 300px;height: 295px;">
            <div class="left-util-area">
                <dl class="current-board-list">
                    <dt>
                        <a class="board-short" href="/boards/free">자유게시판</a>
                    </dt>
                    <dd>
                        <ul>
                            <li class="current-board" th:each="freeBoard : ${currentFreeBoard}">
                                <a class="main-herf" th:href="@{|/${freeBoard.id}|}" th:text="${freeBoard.title}"></a>
                                <span th:text="${freeBoard.commentCount}"></span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

        <div style="border: solid 1px black;width: 300px;height: 295px;">
            <div class="left-util-area">
                <dl class="current-board-list">
                    <dt>
                        <a class="board-short" href="/boards/cfr">CFR게시판</a>
                    </dt>
                    <dd>
                        <ul>
                            <li class="current-board" th:each="cfrBoard : ${currentCfrBoard}">
                                <a class="main-herf" th:href="@{|/${cfrBoard.id}|}" th:text="${cfrBoard.title}"></a>
                                <span th:text="${cfrBoard.commentCount}"></span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

    </article>
</div>


<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>

</body>
</html>